# The OUTLOOK_SERVER is the base url where the data server is running
REACT_APP_OUTLOOK_SERVER_BASE_URL="http://outlookserver.dev"
REACT_APP_OUTLOOK_PRODUCTION_SERVER_BASE_URL="http://outlook.com/outlook_server"