.ms-TextField-fieldGroup  {
	width: 100%;
	height: 50px;
	background: transparent;
	color: #7E97B7;
	border: 1px solid #537095;
	padding-left: 10px;

}
.ms-TextField-fieldGroup:hover,
.ms-TextField-fieldGroup:active,
.ms-TextField-fieldGroup:focus  {
	border: 1px solid #4CF1CD;
}
.ms-TextField-field{
	color: #fff;
}

.DownloadRangeData .download.btn{
	margin-top: 30px;
}
.DownloadRangeData h4{
	font-size: .8rem;
	margin-top: 0;
	margin-bottom: 10px;
}