.btn.compareNodeBtn {
	width: 80%;
	display: block;
	text-align: center;
	line-height: 3.5rem;
	font-size: 1.4em;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #4CF1CD;
	color: #4CF1CD;
	height: 60px;
	transition: all 300ms;
}
.btn.compareNodeBtn:hover {
	background: #4CF1CD;
	color: #16452d;
}

.precios_tab hr {
	width: 100%;
	border-top: 1px solid #fff;
	display: block;
}
.precios_tab a {
	color: #fff;
	font-size: 1.6em;
	text-decoration: none;
	padding: 0 10px 6px;
	display: block;
}
.precios_tab a:hover,
.precios_tab a.active {
	border-bottom: 1px solid #4cf1cd;
}
.precios_tab a:first-child {
	margin-right: 20px;
}
.mapContainer {
	width: 100%;
	margin: 0 auto;
	height: 600px;
	position: relative;
	margin-top: 8%;
}
#map{
	width: 100%;
	/*height: 600px;*/
	position: absolute;
	top: 0;
	bottom: 0;

}
.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Segoe UI', Helvetica, sans-serif;
	color: #2a2a2a;
}

.legend {
	background-color: #fff;
	border-radius: 3px;
	bottom: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 10px;
	position: absolute;
	right: 10px;
	z-index: 1;
	color: #444;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend p {
	margin: 0;
	display: inline-block;
	top: 0;
}

.legend div {
	position: relative;
}

.legend div .circle {
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	opacity: 0.8;
	background-color: #d49a66;
	width: 10px;
	height: 10px;
	/*margin: 0 20px;*/
}



